body {
    padding: 0;
    margin-top: 0;
    height: 400px;
    margin-right: 6rem;
    margin-left: 6rem;
    display: flex;
    justify-content: space-around;
    align-items: start;
}

.header {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
}

h1 {
    margin: 0;
}

.nav {
    height: 50px;
    width: 100%;
    position: absolute;
    top: 2px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 6rem;
}

.button::after {
    /* border: 1px solid red; */
    content: "";
    position: absolute;
    width: 100%;
    background: url('./hero-illustration.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    z-index: -1;
    right: 2px;
}

.links {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 33%;
}

.brand {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 33%;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 33%;
    padding-right: 6rem;
}

button {
    width: 100%;
}