/* Import Google Font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --font-sans: "Roboto", Helvetica, Arial, Sans-Serif;
  --bold: 700;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

html {
  -webkit-text-size-adjust: 100%;
}


/* Center logo */
.position-absolute.start-50.translate-middle-x {
  text-align: center;
}

/* Make the mobile nav dropdown float */
#mobileNav {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #f8f9fa; /* same as navbar light bg */
  z-index: 1000;
  padding: 10px 20px;
  border-top: 1px solid #dee2e6;
}

/* Make navbar position relative for dropdown */
.navbar {
  position: relative;
  z-index: 1020;
}

/* ---------- MOBILE RESPONSIVE ---------- */
@media (min-width: 768px) {
  .navbar-inner {
    margin-left: 165px;
    margin-right: 165px;
  }
}



